.body{
background-color: cornsilk;


 
}


.formulario{
    border-style: dotted;
    background-color:darkseagreen;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 200px;

}
